{% extends 'base.html.twig' %}

{% block title %}Ajouter - Visiteur{% endblock %}

{% block head %}
{{ parent() }}
{% endblock %}

{% block body %}
<div class="container">
    <nav style="background-color:#7695ad;" class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a style="color:#ffffff;" href="/bien">Bien</a></li>
                    <li><a style="color:#ffffff;" href="/type">Type</a></li>
                    <li><a style="color:#ffffff;" href="/visiteur">Visiteur</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <center>
        {{ form(form) }}
    </center>
</div>
{% endblock %}

